.large-hero {
  border-bottom: 8px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: .8rem;

    @mixin atSmall {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: .8rem;

    @mixin atSmall {
      font-size: 2.6rem;
    }
  }

  &__description {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 28rem;
    margin: 0 auto;

    @mixin atSmall {
      font-size: 1.50rem;
    }
  }


}
